/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Indie Flower', cursive;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

.fixed-nav {
	position: fixed;
	width: 100%;
	/* border: 1px solid red; */
	background: orchid;
	z-index:100;
}

.fixed-nav header {
	position: relative;
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	/* border: 1px solid green; */
}

.fixed-nav header .logo {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0px;
	/* border: 1px solid purple; */
}

.fixed-nav header .main-nav a {
	padding: 15px;
}

.container {
	width: 800px;
	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

.main-section {
	background: url(file:///C:/Users/Lee/User-Interface/great-idea-website/img/header-img.png);
	width: 50%;
	height: 100%;
	margin: 100px auto 30px;
	padding: 100px;
	background-repeat: no-repeat;
	/* border: 1px solid red; */
}

.main-section .innovation{
	/* height: 60%; */
	text-align: center;
	/* width: 50%; */
	font-size: 32px;
	text-transform: uppercase;
	/* margin: auto; */
	color: orchid;
	animation: myanimation 2s infinite alternate;
}

@keyframes myanimation {
	0% {color: orchid}
	50%{color:dodgerblue}
	100%{color:goldenrod}
}

.main-section .innovation button {
	background-color: white;
	display: block;
	margin: auto;
	margin-top: 110px;
	margin-bottom: 0;
	font-size: 24px;
}

.section2 div {
	display: inline-block;
	width: 49%;
	height: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.middle-img {
	display: block;
	width: 100%;
	margin: 30px 0;
}

.section3 div {
	display: inline-block;
	width: 32%;
	height: 100%;
	padding: 10px;
	margin-top: 10px;
}

hr {
	display: block;
	border-top: 1px solid black;
	margin: 10px 0 30px;
}

footer {
	text-align: center;
	margin-top: 30px;
}

address {
	color: orchid;
	background: url(file:///C:/Users/Lee/User-Interface/great-idea-website/img/mid-page-accent.jpg);
}